mixin video(info)
    div 
        h3
            a(href=`/video/${info.id}`)=info.title 
        p=info.description
        small=info.createdAt
        br
        br
        div views: #{info.meta.views}
    hr
