extends base.pug

block content
    h4 Change Title of Video
    form(method="POST")
        input(name="title" type="text", placeholder="input", required, value=video.title)
        input(name="submit" type="submit", value="save")