extends base.pug

block content
    h4 Change Title of Video
    form(method="POST")
        input(name="potato" type="text", placeholder="rename the title", required, value=video.title)
        input(name="submit" type="submit", value="save")