extends base.pug
include mixins/video

block content
    main
    nav
        ul 
            if fakeUser.loggedIn
                li 
                    a(href="/logout") Log Out
                    h3=fakeUser.username 
            else 
                li 
                    a(href="/login") Log In
                    
        
    each x in videos 
        +video(x)
    else
        li Sorry.
    
