extends base.pug

block content
    span #{errorMessage}
    form(method="post")
        input(name="name",type="text", placeholder="Name", required) 
        input(name="username",type="text", placeholder="UserName", required) 
        input(name="email",type="email", placeholder="Email", required) 
        input(name="password",type="password", placeholder="Password", required) 
        input(name="password2",type="password", placeholder="Confirm the Password", required) 
        input(name="location",type="text", placeholder="Location", required) 
        input(type="submit", value="Create Account")

    div Did you created account? 
        a(href="/login") Log In Now &rarr;