extends base.pug
include mixins/video

block content 
    form(method="get")
        input(name="searchTitle" type="text", placeholder="Input the title for search") 
        input(type="submit" value="search")

    each video in videos 
        +video(video)